
/* display none until init */
.product-carousel{
	display: none;
	opacity:1!important;
	position: relative;
	width: 100%;
	-ms-touch-action: pan-y;
}
#column-left .product-carousel, #column-right .product-carousel { display:block;}
#column-left .customNavigation, #column-right .customNavigation { display:none;}

#column-left .banners-slider-carousel .customNavigation,
#column-right .banners-slider-carousel .customNavigation{ display:block;}

.product-carousel .slider-wrapper{
	display: none;
	position: relative;
	-webkit-transform: translate3d(0px, 0px, 0px);
	-webkit-perspective: 1000;
}
.product-carousel .slider-wrapper-outer{
	overflow: hidden;
	position: relative;
	width: 100%;
        margin: auto;
}
.product-carousel .slider-wrapper-outer.autoHeight{
	-webkit-transition: height 500ms ease-in-out;
	-moz-transition: height 500ms ease-in-out;
	-ms-transition: height 500ms ease-in-out;
	-o-transition: height 500ms ease-in-out;
	transition: height 500ms ease-in-out;
}
	
.product-carousel .slider-item{
	float: left;
}
.slider-controls .slider-page,
.slider-controls .slider-buttons div{
	cursor: pointer;
}
.slider-controls {
	-webkit-tap-highlight-color: transparent;
}

/* mouse grab icon */
 



/* fix */
.product-carousel  .slider-wrapper,
.product-carousel  .slider-item{
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility:    hidden;
	-ms-backface-visibility:     hidden;
}
.customNavigation    { 
	z-index: 9;
    width: 110px;
    right: 15px;
    position: absolute;
    top: -106px!important;
    /* left: 0; */
    direction: ltr !important;
}
.customNavigation a{
	font-size: 0;
    position: absolute;
    font-weight: 300;
    height: 32px;
    width: 50px;
    border-radius: 5px;
    line-height: 32px;
    padding: 0;
    color: #fff;
    background: #000;
    cursor: pointer;
    overflow: hidden;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.customNavigation a.prev {
    left: 0px;
    background: #ececec;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}
.customNavigation a:hover.prev {
    background: #c40109;
}
.customNavigation a:hover.next {
    background: #c40109;
}
.customNavigation a:hover:before {
    color: #fff;
}


/*.customNavigation a.prev:before,
.customNavigation a.next:before {
	 font-size: 50px;
    font-family: "FontAwesome";
    color: #888;
    font-weight: normal;
}
.customNavigation a.prev:before {
    content: "\f104";
}
.customNavigation a.next:before {
    content: "\f105";
}
.customNavigation a.prev:hover:before,
.customNavigation a.next:hover:before {
	color: #000;
}
*/
.product-image .customNavigation a.prev {left:0; }
.product-image .customNavigation a.next {right:0; }
.product-image  .customNavigation a {top: -10px;}

.customNavigation a.next {
    right: 0px;
    background: #ececec;
    -webkit-transition: all 0.5s ease;
    -webkit-transition-delay: 0s;
    -moz-transition: all 0.5s ease 0s;
    -o-transition: all 0.5s ease 0s;
    transition: all 0.5s ease 0s;
}

.customNavigation a.next:hover 	{ text-decoration:none;     background-position: -56px -35px;}

/*.banners-slider-carousel .product-carousel{  margin:0 auto; padding:0;}
.banners-slider-carousel .customNavigation a.prev {
	cursor:pointer;	
	color:#e5e5e5;
	border:medium none;
	transition:none;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	z-index:9;
}


.banners-slider-carousel .customNavigation a.prev:hover {text-decoration:none; z-index:999; background-position:1px -30px;}


.banners-slider-carousel .customNavigation a.next {
    left:  -5px;
	top:45px;
	cursor:pointer;
	color:#e5e5e5;
	left:auto;
	border:medium none;
	transition:none;
	-webkit-transition:none;
	-moz-transition:none;
	-ms-transition:none;
	-o-transition:none;
	z-index:9;
}

.banners-slider-carousel .customNavigation a.next:hover{text-decoration:none; z-index:999; background-position:-10px -30px;}
*/

/*.product-info .product-image .customNavigation    { text-align: center; width:100%; z-index:9; top: 30px;}
.product-info .product-image .customNavigation a{
	-webkit-tap-highlight-color: transparent;
	display: block;
    float: right;
    height: 20px;
    position: absolute;
    top: -34px;
    width: 16px;
}

.product-info .product-image .customNavigation span.prev::before {
    color: #000000;
    content: "\f104";
    font-family: "FontAwesome";
    font-size: 32px;
    font-weight: 400;
}
.product-info .product-image .customNavigation span.prev {
    
    cursor: pointer;
    height: 25px;
    left: 0;
    padding: 4px 0 0;
    position: absolute;
    top: 0px;
	width: 25px;
    transition: all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
.product-info .product-image .customNavigation span.next::before {
    color: #000000;
    content: "\f105";
    font-family: "FontAwesome";
    font-size: 40px;
    font-weight: 400;
}


.product-info .product-image .customNavigation span.prev:hover 	{text-decoration:none; border-color:#888888;}

.product-info .product-image .customNavigation span.prev:hover::before, .product-info .product-image .customNavigation span.next:hover:before{
    color: #888888;
}

.product-info .product-image .customNavigation span.next {	 
    cursor: pointer;
    height: 25px;
    padding: 4px 0 0;
    position: absolute;
    right: 0;
    top: 0px;
	 width: 25px;
    transition: all 0.3s ease 0s;
	-webkit-transition:all 0.3s ease 0s;
	-moz-transition:all 0.3s ease 0s;
	-ms-transition:all 0.3s ease 0s;
	-o-transition:all 0.3s ease 0s;
}
.product-info .product-image .customNavigation span.next:hover {text-decoration:none; border-color: #888888;}*/



@media (max-width: 1500px) {
    .customNavigation a.prev{ left: 0px; }
	.customNavigation a.next{ right: 0px;  }
}
@media (max-width: 767px) {
	.customNavigation a.prev{ left:0px; }
	.customNavigation a.next{ right:0px; }
}
