/* CSS Document */
.swiper-viewport {
	margin: 0px;
	z-index: 1;
	width: 100%;
	position: relative;
	overflow: hidden;
}
/* OpenCart Code */
.main-slider .swiper-wrapper, .swiper-container {
	direction: ltr !important;
}
.swiper-pagination {
	bottom: 10px;
	left: 0;
	text-align: center;
	width: 100%;
}
.swiper-pagination-bullet {
	width: 15px;
	display: inline-block;
	height: 10px;
	background: #000;
	margin: 0 5px;
	opacity: 1;
	/*border:1px solid #a46e1d;*/
	text-indent: -9999px;
	cursor: pointer;
	-webkit-transition: all 500ms ease;
    -moz-transition: all 500ms ease;
    -o-transition: all 500ms ease;
    transition: all 500ms ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 5px;
    border-radius: 5px;
	/*border-radius: 50%;
	transition: all .3s ease;
	-webkit-transition: all .3s ease;
	-moz-transition: all .3s ease;
	-ms-transition: all .3s ease;
	-o-transition: all .3s ease;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);*/
}
.swiper-pagination-bullet:hover,
.swiper-pagination-bullet-active {
	background: #c40109;
	border-color: #000;
	width: 30px;
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
    -webkit-transition: all 500ms ease 0s;
    -moz-transition: all 500ms ease 0s;
    -o-transition: all 500ms ease 0s;
    transition: all 500ms ease 0s;
}
.swiper-button-next.swiper-button-disabled, .swiper-button-prev.swiper-button-disabled {
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
}
.swiper-viewport .swiper-pagination:hover
{
	
}

@media (max-width: 1800px) {
	.main-slider .swiper-pager{	
		/*display: none;*/
	}	
}